{% extends "base.html" %} {% block title %}Visualisations{% endblock %}
{% block content %}
    <h2>Visualisations</h2>
    <p>
        The examples below are charts and graphs that could be created with minimal processing
        of readily available data from the sources listed on each page.
    </p>
    <p>
        Highcharts was used, but these could be done with any one of a number of js
        libraries.
    </p>
    <p>
        The data shown on the pages is assembled from CSV files at runtime.
        However, for our current approach the data could be converted to JSON for use at build time
        to render into static pages.
    </p>
    <p>This would allow us to add chart specific metadata to the JSON that is not in the
        CSV source data.</p>
    <h2>Topics</h2>
    <ul>
        <li>
            <a href="{{ url_for('house_prices.index') }}"
            >UK Average house prices</a
            >
        </li>
        <li><a href="{{ url_for('elections.index') }}">UK Election results</a></li>
        <li>
            <a href="{{ url_for('bank_rate.index') }}">Bank of England Bank Rate</a>
        </li>
        <li>
            <a href="{{ url_for('companies_house.index') }}"
            >Companies House register activity</a
            >
        </li>
        <li><a href="{{ url_for('charities.index') }}">Top 10 charities</a></li>
        <li><a href="{{ url_for('fuel_and_oil.index') }}">Fuel and oil prices</a></li>
        <li><a href="{{ url_for('air_pollution.index') }}">Air pollution</a></li>
    </ul>
{% endblock %}
